__pycache__/
*.pyc
*.pyo
*.pyd
*.log
*.env
.git
.gitignore
venv/
.venv/
Output/
reports_generated/
Task_Chart/
Text_Output/
Usecase/
meeting_audio.wav
test.ipynb
test.py
Architecture.drawio.png
README.md
screenshots/